<html>

<head>

    <title>Main Page</title>

    <link href="../../Content.css" type="text/css" 
            rel="stylesheet" />
    <link href="../../Header.css" type="text/css" 
            rel="stylesheet" />
    <link href="../../Body.css" type="text/css" 
            rel="stylesheet" />
    <link href="../../Chapterlist.css" type="text/css" 
            rel="stylesheet" />

    <meta name="description"
        content="Free swiss lightnovels" />
    <meta name="keywords"
        content="Fantasy, Novels, Lightnovels, Free, Indie, World 1" />
    <meta name="author"
        content="Dennis Pfenninger" /><html>

</head>


<body>

<!---............................................ Header ................................................--->

<div class="title">
    <h1>Swiss Light Novels</h1>
</div>

<div class="navigation">
<ul class="navigation">
    
<!-- !!!!! Es isch wichtig dass de teil ahpasst wird !!!!! -->
    
    <li class="navigation"><a class="navigation" href="../../Index.html">Main Page</a></li>
    <li class="navigation"><a class="navigation" href="../Index.html">World 1</a></li>
    <li class="navigation"><a class="navigation" href="../../World2/Index.html">World 2</a></li>
    <li class="navigation"><a class="navigation" href="../../World3/Index.html">World 3</a></li>
</ul>
</div>

<!---............................................ Content ................................................--->

<div class="content">

    <h1>###CHANGE###</h1>

    <div class="BigboyBox">

        <h2>Summary</h2>

        <div class="SideText">

            <h2>Description</h2>

            <p class="text">

###CHANGE###

            </p>

        </div>

        <img src="../../Images/World1Mountain.jpg" width="320" height="200"/>

    </div>

</div>

<!---.......................................... Chapterlist ..............................................--->

<div class="Chapterlist">

    <h2>Chapters</h2>

    <ul class="Chapter">
        <li class="Chapter"><a class="Chapter" href="###CHANGE###/Text.html">###CHANGE###</a></li>
        <li class="Chapter"><a class="Chapter" href="###CHANGE###/Text.html">###CHANGE###</a></li>
        <li class="Chapter"><a class="Chapter" href="###CHANGE###/Text.html">###CHANGE###</a></li>
        <li class="Chapter"><a class="Chapter" href="###CHANGE###/Text.html">###CHANGE###</a></li>
        <li class="Chapter"><a class="Chapter" href="###CHANGE###/Text.html">###CHANGE###</a></li>
        <li class="Chapter"><a class="Chapter" href="###CHANGE###/Text.html">###CHANGE###</a></li>
    </ul>

</div>

<!---.......................................... The End ..............................................--->

</body>

</html>
