<html>
<head>

    <title>Jojo References</title>
    <link href="Content.css" type="text/css" 
            rel="stylesheet" />
    <link href="Header.css" type="text/css" 
            rel="stylesheet" />
    <link href="Body.css" type="text/css" 
            rel="stylesheet" />
    <link href="MainPageExtra.css" type="text/css" 
            rel="stylesheet" />

    <meta name="description"
        content="Free swiss lightnovels" />
    <meta name="keywords"
        content="Fantasy, Novels, Lightnovels, Free, Indie, Main Page" />
    <meta name="author"
        content="Dennis Pfenninger" />

</head>


<body>

<!---............................................ Header ................................................--->

<div class="title">
    <h1>Swiss Light Novels</h1>
</div>

<div class="navigation">
    <ul class="navigation">
        <li class="navigation"><a class="navigation" href="Index.html">Main Page</a></li>
        <li class="navigation"><a class="navigation" href="World1/Index.html">World 1</a></li>
        <li class="navigation"><a class="navigation" href="World2/Index.html">World 2</a></li>
        <li class="navigation"><a class="navigation" href="World3/Index.html">World 3</a></li>
    </ul>
</div>

<!---............................................ Content 1 ................................................--->

<div class="content">

<!---............................................ Smollboxes ................................................--->

    <div class="smollBox">
        <h2 class="header">Introduction</h2>
        <p class="text">

The Stories on here are divided by the world they happen on. So try looking into the different worlds to see if it clicks. The most prevalent genre is fantasy, but not exclusively. </br>
Most stories will be updated multiple times, as the author gets better at writing (hopefully). At some point, it could even affect the plot, so you could see it as constant remakes of the story. And don’t worry about story continuity and stuff, its the authors problem. ;)
    
        </p>
    </div>

    <div class="smollBox">
        <h2 class="header">Disclaimer</h2>
        <p class="text">

All Stories on this Website are directly published by the Author and completely free to read. The Goal is to form a small community that can enjoy and discuss the stories. So just have fun reading and commenting. And please don’t hesitate to criticize, every bit of constructive criticism is welcome (website and stories).

        </p>

    </div>

</div>

<!---............................................ Content 2 ................................................--->

<div class="content">

<!---............................................ World1 ................................................--->


    <div class="BigboyBox">
            <a class="divLink" href="World1/Index">
            <img src="Images/World1Mountain.jpg" width="320" height="200"/>
            </a>

        <div class="SideText">
                <a class="divLink" href="World1/Index">
                <h2 class="header">World1</h2>
                </a>
            <p class="text">

A gloomy Fantasy World, where odds are stacked against the humans fighting for survival. Enjoy reading how the characters try to succeed in this harsh environment.

            </p>
        </div>
    </div>

<!---............................................ World2 ................................................--->

    <div class="BigboyBox">
            
        <div class="SideText">
                <a class="divLink" href="World2/Index">
                <h2 class="header">World2</h2>
                </a>
            <p class="text">

Verry important Text, do not skip. Blah BlahBlahBlah BlahBlah. *Insert jojo Reference* . BlahBlah BlahBlahBlah BlahBlah Blah.

            </p>
        </div>

        <a class="divLink" href="World2/Index">
        <img src="Images/work-in-progress-icon.png" width="320" height="200"/>
        </a>
        
    </div>

<!---............................................ World3 ................................................--->

    <div class="BigboyBox">
            <a class="divLink" href="World3/Index">
            <img src="Images/work-in-progress-icon.png" width="320" height="200"/>
            </a>

        <div class="SideText">
                <a class="divLink" href="World3/Index">
                <h2 class="header">World3</h2>
                </a>
            <p class="text">

Verry important Text 2, do not skip. Blah BlahBlahBlah BlahBlah. *Insert jojo Reference* . BlahBlah BlahBlahBlah BlahBlah Blah.

            </p>
        </div>
    </div>

</div>

</body>
</html>










































































