a.ChapterSelect         {display:inline;text-decoration:none;padding:1%;padding:2px;
                        color:rgb(50,50,50);background-color:rgb(225,225,225);}
a.ChapterSelect:hover   {color:rgb(75,75,75);background-color:white;border:solid 1px}

ul.ChapterSelect        {padding:0}



















