a.Chapter       {overflow:auto;text-decoration:none;color:black}
a.Chapter:hover {color:orange}
li.Chapter      {overflow:auto;margin:0 25% 0 25%;display: block;border-bottom:solid;border-width:1px;}
ul.Chapter      {overflow:auto;padding:0;}
.Chapterlist    {overflow:auto;margin:2.5% auto;Width:25%;
                border-left:solid white;border-right:solid white;background-color:grey;}






















































































