.navigation     {background-color: rgb(75,75,75);margin:0;}
li.navigation   {display: inline;}
ul.navigation   {padding:1%;}
a.navigation    {text-decoration: none;color:rgb(175,175,175);padding: 1%;}
a.navigation:hover  {color: rgb(225,225,225);}

.title          {background-color:rgb(221, 60, 60);color:rgb(255, 255, 255);padding:5px;}
