.content    {width:60%;margin:auto;margin-bottom:5%;overflow:auto;background-color:white;}

.header     {margin:0;padding:5px;font-size:150%;color:black;overflow:auto;}
.text       {margin:5%;padding:2.5%;font-size:95%;text-align:justify;float:left;overflow:auto;line-height:1.5em;}
